<div data-id="{{article.id}}">
  <h3 class="title">{{article.title}}</h3>
  <p>{{article.body}}</p>

  {{#if article.editable}}
  <div>
    <div data-id="{{article.id}}" class="btn-group article-destroy">
      <button type="button" data-id="{{article.id}}" class="btn btn-danger">
      Delete
      </button>
    </div>

    <button data-id="{{article.id}}" type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"id="edit-modal">Edit</button>

    <div data-id="{{article.id}}" class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Edit Article</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <p class="update-failure"></p>
          <div class="modal-body">
            <form data-id="{{article.id}}" class="modal-edit" id="edit-article">
              <div class="form-group">
                <label for="title-name" class="form-control-label">Title:</label>
                <br>
                <input data-id="{{article.title}}" class="edit-title" type="text" name="article[title]" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Content:</label>
                <br>
                <input data-id="{{article.description}}" class="edit-description" type="text" name="article[description]" placeholder="Description">
                <br>
                <textarea data-id="{{article.id}}" class="edit-body" name="article[body]" placeholder="Body"></textarea>
              </div>
              <button data-id="{{article.id}}" type="submit" class="btn btn-default">Confirm</button>
            </form>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div></div>
  {{/if}}
</div>
